extends ../base

block head
    title Главная страница

block content
    h1 Главная страница тест
    p.from-index Всем привет!!! хохохох!
    img(src=require("../../images/icons/webpack.svg") width="100")
    img(src="images/webpack.svg" width="100")
